.gdt-headline-3 { font-size: 22px; }
.itmb-privacy { word-break: break-word; white-space: pre-wrap; }
img.itmb-home-logo { width: 100%; max-width: 580px; }
.gdt-li-main { padding: 8px; }
button.ui-button, input.ui-button { width: auto; }
